In [35]:
import os
all_txt_files =[]
# get all file names for obits in txt folder
for root, dirs, files in os.walk("txt"):
    for file in files:
        if file.endswith(".txt"):
            all_txt_files.append(os.path.join(root, file))
n_files = len(all_txt_files)
all_txt_files.sort()

In [36]:
# create a list of strings. Each string is an obit
all_text = []
for i in all_txt_files:
    with open(i) as f:
        txt = f.read()
    all_text.append(txt)

In [37]:
#import the TfidfVectorizer from scikit-learn 
from sklearn.feature_extraction.text import TfidfVectorizer

In [65]:
# TfidfVectorizer is a class, so I instantiate it with specific pararmeters as 'vectorizer'
# I then run the object's fit_transform() method on my list of strings (all_docs)
# The stored variable X is output of the fit_transform() method 
vectorizer = TfidfVectorizer(min_df=1,
                                max_features=8000,
                                stop_words='english')
X = vectorizer.fit_transform(all_text)

In [66]:
# The fit_transform() method converts the list of strings to a sparse matrix of TF-IDF values
# The toarray method converts a numpy array, which makes it easier to indpect every values including the zeros 
myarray = X.toarray()

In [67]:
all_txt_files[311]

'txt/1107.txt'

In [68]:
import pandas as pd
df_meta = pd.read_csv('metadata.csv', index_col=0)
df_meta

,date,year,headline
0,"May 3, 1972",1972,J. Edgar Hoover Made the F.B.I. Formidable Wit...
1,"April 7, 1992",1992,"Isaac Asimov, Whose Thoughts and Books Travele..."
2,"November 12, 1880",1880,Lucretia Mott
3,"September 8, 1969",1969,Dirksen Dead in Capital at 73
4,"August 8, 1938",1938,Stanislavsky Dies in Moscow At 75
5,"November 17, 1961",1961,Rayburn Is Dead; Served 17 Years As House Speaker
6,"June 11, 1976",1976,Adolph Zukor Is Dead at 103; Built Paramount M...
7,"January 11, 1961",1961,Emily Balch Dies; Won Nobel Prize
8,"April 24, 1994",1994,The 37th President; In Three Decades
9,"March 22, 1998",1998,Galina Ulanova Is Dead at 88; A Revered Bolsho...
10,"August 27, 1910",1910,William James Dies; Great Psychologist
11,"November 23, 1916",1916,Jack London Dies Suddenly On Ranch
12,"October 1, 1959",1959,"Ross G. Harrison, Yale Zoologist, 89"
13,"September 6, 1965",1965,"Albert Schweitzer, 90, Dies at His Hospital"
14,"April 5, 1968",1968,Martin Luther King Jr.: Leader of Millions in ...
15,"February 16, 1984",1984,"Ethel Merman, Queen of Musicals, Dies at 76"
16,"January 26, 1947",1947,Capone Dead At 48; Dry Era Gang Chief
17,"December 15, 1934",1934,T. A. Watson Dead; Made First Phone
18,"October 13, 1870",1870,Gen. Robert E. Lee
19,"November 1, 1993",1993,"Federico Fellini, Film Visionary, Is Dead at 73"
20,"October 24, 1957",1957,"Dior, 52, Creator Of &aposNew Look,&apos Dies"
21,"September 9, 1953",1953,Vinson Excelled In Federal Posts
22,"February 12, 1948",1948,Sergei Eisenstein Is Dead In Moscow
23,"August 13, 1937",1937,"Edith Wharton, 75, Is Dead in France"
24,"April 3, 1941",1941,Virginia Woolf Believed Dead
25,"April 6, 1964",1964,Commander of Armies That Turned Back Japan Led...
26,"November 12, 1945",1945,"Jerome Kern Dies; Noted Composer, 60"
27,"December 21, 1982",1982,Arthur Rubinstein Dies in Geneva at 95
28,"September 7, 1901",1901,President M&aposKinley&aposs Illustrious Career
29,"April 13, 1945",1945,Family Of Wealth Gave Advantages
...,...,...,...
336,"September 17, 1977",1977,"Maria Callas, 53, Is Dead of Heart Attack in P..."
337,"October 10, 1982",1982,"Anna Freud, Psychoanalyst, Dies in London at 86"
338,"November 20, 1975",1975,"Out of the Crucible of Civil War, Franco&aposs..."
339,"December 16, 1966",1966,"Walt Disney, 65, Dies on Coast; Founded an Emp..."
340,"August 25, 1995",1995,"Alfred Eisenstaedt, Photographer of the Defini..."
341,"April 25, 1947",1947,Author of &aposLost Lady&apos Won the Pulitzer...
342,"May 17, 1990",1990,Sammy Davis Jr. Dies at 64; Top Showman Broke ...
343,"January 7, 1994",1994,"Thomas P. O&aposNeill Jr., a Democratic Power ..."
344,"December 27, 1931",1931,Dr. Melvil Dewey Dead In Florida
345,"September 21, 1947",1947,La Guardia Is Dead; City Pays Homage To 3-Time...
346,"May 16, 1998",1998,Frank Sinatra Dies at 82; Matchless Stylist of...
347,"March 5, 1993",1993,"Carlos Montoya, 89, Flamenco Guitarist, Is Dead"
348,"August 10, 1965",1965,"Shirley Jackson, Author of Horror Classic, Dies"
349,"June 6, 1976",1976,J. Paul Getty Dead at 83; Amassed Billions Fro...
350,"November 16, 1978",1978,Margaret Mead Is Dead of Cancer at 76
351,"July 11, 1979",1979,"Arthur Fiedler, 84, Conductor Of Boston Pops 5..."
352,"July 30, 1981",1981,"Robert Moses, Master Builder, is Dead at 92"
353,"November 11, 1982",1982,Brezhnev Attempted to Advance Soviet Goals Thr...
354,"December 10, 1965",1965,"Branch Rickey, 83, Dies in Missouri"
355,"March 6, 1953",1953,Stalin Rose From Czarist Oppression to Transfo...
356,"June 15, 1991",1991,"Dame Peggy Ashcroft, Acclaimed British Actress..."
357,"May 26, 1919",1919,Wealthiest Negress Dead
358,"June 19, 1989",1989,"I.F. Stone, Iconoclast of Journalism, Is Dead ..."
359,"October 7, 1981",1981,"Anwar el-Sadat, the Daring Arab Pioneer of Pea..."
360,"September 10, 1976",1976,Mao Tse-Tung: Father of Chinese Revolution
361,"May 6, 1992",1992,"Marlene Dietrich, 90, Symbol of Glamour, Dies"
362,"April 24, 1983",1983,"Earl Hines, 77, Father of Modern Jazz Piano, Dies"
363,"August 1, 1875",1875,Andrew Johnson Dead
364,"October 4, 1944",1944,Alfred E. Smith Dies Here at 70; 4 Times Governor
365,"November 4, 1954",1954,"Art World Mourns Henri Matisse, Dead at Home i..."

In [69]:
years = list(df_meta['year'])

In [70]:
len(myarray) == len(years)

True

In [83]:
train = myarray[:200]
test = myarray[200:]
train_labels = years[:200]
test_labels = years[200:]
print(len(train), len(test))

200 166

In [84]:
from sklearn.linear_model import LinearRegression

In [85]:
regression = LinearRegression().fit(train, train_labels)

In [86]:
predictions = regression.predict(test)

In [92]:
df_scores = pd.DataFrame()
df_scores['prediction'] = predictions
df_scores['label'] = test_labels
df_scores['difference'] = abs(df_scores['prediction'] - df_scores['label'])
df_scores

      prediction  label  difference
0    1921.051273   1917    4.051273
1    1951.628739   2000   48.371261
2    1959.135505   1961    1.864495
3    1925.387937   1887   38.387937
4    1932.260403   1975   42.739597
5    1939.254634   1998   58.745366
6    1932.962230   1930    2.962230
7    1928.973749   1961   32.026251
8    1924.260171   1991   66.739829
9    1986.341430   1994    7.658570
10   1959.137487   1961    1.862513
11   1949.673444   1947    2.673444
12   1948.547040   1987   38.452960
13   1923.285246   1952   28.714754
14   1982.678180   1987    4.321820
15   1922.872650   1945   22.127350
16   1972.086181   1971    1.086181
17   1993.922258   1987    6.922258
18   1980.724334   1989    8.275666
19   1960.700799   1971   10.299201
20   1932.884881   1953   20.115119
21   1935.968277   1980   44.031723
22   1957.853505   1964    6.146495
23   1951.827235   1992   40.172765
24   1934.843400   1959   24.156600
25   1971.022190   1980    8.977810
26   1949.923790   1950    0.076210
27   1926.774111   1959   32.225889
28   1981.113777   1992   10.886223
29   1934.563101   1940    5.436899
..           ...    ...         ...
136  1965.728120   1977   11.271880
137  1955.237926   1982   26.762074
138  1944.504485   1975   30.495515
139  1935.362700   1966   30.637300
140  1954.650362   1995   40.349638
141  1943.930974   1947    3.069026
142  1989.605403   1990    0.394597
143  1956.996926   1994   37.003074
144  1932.279465   1931    1.279465
145  1952.439829   1947    5.439829
146  1951.850684   1998   46.149316
147  1940.046953   1993   52.953047
148  1951.563284   1965   13.436716
149  1932.974735   1976   43.025265
150  1954.645686   1978   23.354314
151  1942.472506   1979   36.527494
152  1947.590224   1981   33.409776
153  1973.428655   1982    8.571345
154  1949.042066   1965   15.957934
155  1935.561787   1953   17.438213
156  1972.051014   1991   18.948986
157  1917.801055   1919    1.198945
158  1982.689685   1989    6.310315
159  1962.986794   1981   18.013206
160  1933.214494   1976   42.785506
161  1937.014629   1992   54.985371
162  1966.013051   1983   16.986949
163  1926.489956   1875   51.489956
164  1959.351383   1944   15.351383
165  1936.456912   1954   17.543088

[166 rows x 3 columns]

In [76]:
all_txt_files[365]

'txt/1231.txt'

In [96]:
sum(df_scores['difference'])/366
#This model predicts with a mean distance of 11 years

11.108861154553964

In [97]:
len(regression.coef_) == len(vectorizer.get_feature_names())

True

In [101]:
coeffs = pd.DataFrame.from_records(list(zip(regression.coef_, vectorizer.get_feature_names())), columns=["coefficient", "term"]).sort_values(by="coefficient", ascending=False).reset_index(drop=True)

In [102]:
coeffs

      coefficient         term
0      122.707380           mr
1       69.584738         said
2       67.585798        busch
3       65.903821           dr
4       60.631921         miss
5       55.843297         ashe
6       53.178128        years
7       47.124899        amour
8       45.680938       chavez
9       43.941336      segovia
10      43.206473           ho
11      43.119752      schultz
12      42.182855      pauling
13      40.560970         eden
14      40.540085      dempsey
15      40.395861        music
16      38.734625       nimitz
17      37.685269         mies
18      37.668085        buber
19      37.597262        world
20      37.489687      ulanova
21      37.352282        later
22      37.282394       graham
23      37.102499   rubinstein
24      37.097311     shockley
25      36.648667          war
26      36.538001      murdoch
27      35.049295         dior
28      34.544702       rankin
29      34.402041   schweitzer
...           ...          ...
7970   -13.945845     tuskegee
7971   -14.342657       grover
7972   -14.361352      anthony
7973   -14.420255      species
7974   -14.460158         1897
7975   -14.861248  nightingale
7976   -14.886497          000
7977   -15.042179    barrymore
7978   -15.737857         muir
7979   -16.197001   journalism
7980   -17.021396     whistler
7981   -17.024169        clock
7982   -17.216824         1853
7983   -17.229284     mckinley
7984   -17.353902     coolidge
7985   -17.878499        cohan
7986   -19.800609      wharton
7987   -20.204947         shaw
7988   -20.999938      england
7989   -24.332190        queen
7990   -25.549396     douglass
7991   -26.515375    cleveland
7992   -26.627312        stowe
7993   -28.147502       truman
7994   -31.799468     victoria
7995   -37.018270       darwin
7996   -39.126390     pulitzer
7997   -46.855465        grant
7998   -47.552223          gen
7999   -47.902900       barnum

[8000 rows x 2 columns]